




body{ margin: 4vw 30vw 0;}
h1{ background-color: #398BC7;
color:white; 
font-size:xx-large;
font-weight:lighter;
padding:2vw;
margin: 0 0 0 0;

}
.field{
    display:flex;
    }

.field input{ padding:0.5vw 0;
width:99%;
margin:1.5vw 0;
}

.field select {
    height:2.5vw;
    width:99%;

}






.field textarea {
    margin: 1.5vw 0;
    width: 98%;
    height: 6vw;
}

/*.field textarea { width:1vw;}*/






button{
    background-color: #398BC7;
    color:white;
    margin:2vw;
    padding:.75vw;
    border-radius: 2px;
    border-style:none;

}

footer{
    background-color: #C7DEEF
}


  